* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 10px;
}

body {
    height: 200vh;
    font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 300;
    -webkit-tap-highlight-color: transparent;
}

main {
    height: 100vh;
}

.Img-main_background {
    background-image: url('./assests/imgs/paisaje-de-ciudad-futurista-artwork_3840x2160_xtrafondos.com.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-container-Pomodoro {
    width: 50%;
    height: 80%;
    
}

.main-section-breaks {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
    /* margin: 10px; */
    
}

.main-boton_time {
    width: 32%;
    height: 100%;
    background: rgba(189, 87, 87, 0.31);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 2px solid rgba(189, 87, 87, 0.56);
    font-size: 2.4rem;
    color: white;
}

.main-boton_time:hover {
    transform: scale(1.1);
    background: rgba(189, 87, 87, 0.51);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 2px solid rgba(189, 87, 87, 0.56);
    cursor: pointer;

}
.main-boton_time:focus {
    background: rgba(189, 87, 87, 0.51);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 2px solid rgba(189, 87, 87, 0.56);
}

.main-section_timer {
    width: 100%;
    height: 80%;
}
.main-section_timer div {
    width: 100%;
    height: 50%;
    background: rgba(189, 87, 87, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
    border: 1px solid rgba(189, 87, 87, 0.83);
    border-radius: 16px;
    margin: 10px;
}

.section-timer_setting  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-direction: column-reverse;
}

.section-timer_setting a {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.button-start_timer {
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235 235 235) 0px 6px 0px;
    /* font-family: ArialRounded; */
    font-size: 22px;
    color: rgb(217, 85, 80);
    font-weight: bold;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;
    letter-spacing: 6px;
}
.button-start_timer:hover{
    transform: scale(1.1);
}

.section-fhater-pomo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-fhater-pomo .section-timer_pomodoro {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.section-timer_pomodoro p {
    font-size: 12rem;
    font-weight: 600;
    letter-spacing: 1rem;
    color: wheat
}

.section-Pomodoro_info {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.section-article_info {
    height: 25%;
    width: 80%;
}
.section-article_info h3 {
    font-size: 2.6rem;
    text-decoration: underline;
    margin: 5px 15px 25px 15px;
    color: hsl(357, 50%, 22%);
}
.section-article_info p    {
   color: rgb(120 94 96);
   font-size: 1.8rem;
   text-align: center;
}

.section-article_info p a {
    color: rgb(217 85 80);
    font-weight: bold;
    font-size: 1.6rem;
}

.section-article_info ol li {
    color: rgb(120 94 96);
    font-size: 1.8rem;
    line-height: 3rem;
}


.section-article_info ol {
    padding: 1.8rem;
    margin-left: 15px;
}

body > section > div:nth-child(3) {
    height: 35%;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
}

footer a {
    width: 50px;
    align-self: flex-start;

}

footer a i {
    font-size: 3.0rem;
    color: #999;
}

footer p {
    align-self: flex-start;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 1rem;
}


@media (max-width: 950px) {
    body {
        height: 215vh;
        position: relative;
    }
    footer {
        position: absolute;
        top: 100%;
    }
    .section-Pomodoro_info {
        height: 120vh;
    }
    .section-timer_pomodoro p {
        font-size: 8rem;
    }
    .main-boton_time {
        font-size: 2rem;
        font-weight: 800;
    }
}

@media(max-width:630px){
    body {
        height: 260vh;
    }
     .section-Pomodoro_info  {
         height: 170vh;
    }
    .main-boton_time {
        font-size: 1.8rem;
    }
    .section-timer_pomodoro p {
        font-size: 6rem;
    }
    .button-start_timer {
        width: 70%;
        font-size: 1.8rem;
    }
}

@media(max-width:480px) {
    .main-container-Pomodoro {
        width: 80%;
        margin-left: -14px;
    }
    .section-article_info h3 {
        font-size: 1.8rem;
    }
    .section-article_info p {
        font-size: 1.5rem;
    }
    .section-article_info ol {
        font-size: 1.5rem;
    }

    .section-article_info-noTask {
        height: auto;
    }
    .section-Pomodoro_info  {
        height: 130vh;
   }
    body {
        height: 230vh;
    }
    footer p{
        font-size: 1.5rem;
        align-self: center;
    }
}

@media(max-width:370px) {
    body {
        height: 250vh;
    }
}